* {
    max-width: 1440px;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
}
ul {
    list-style-type: none;
}
ol {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    color: rgb(49, 44, 44);
    margin-left: 15px;
    text-align: center;
}
h2 {
    text-align: center;
    font-size: 60px;
    color: rgb(23, 22, 22);
    text-decoration-line: underline;
}
h3 {
    text-align: center;
    font-size: 60px;
    color: rgb(23, 22, 22);
    text-decoration-line: underline;
}
p {
    color: rgb(14, 14, 14);
    text-align: center;
    font-size: 25px;
}
/* Header */

#header {
    max-width: 1440px;
    height: 1300px;
    background-color: rgb(242, 239, 236);
}
.navigation-section {
    height: 65px;
    background-color: rgb(231, 241, 246);
    display: flex;
    border-radius: 10px;
}

.header-paragraph {
    color: rgb(14, 14, 14);
    text-align: center;
    margin-top: 150px;
    font-size: 25px;
}
.navigation-links {
    display: flex;
    justify-content: space-between;
    margin-left: 700px;
    gap: 20px;
}
.hero-section {
    display: flex;
    gap: 20px;
}
.hero-section__image {
    height: auto;
    width: 700px;
    border-radius: 15px;
    margin-top: 70px;
}
#iframe {
    margin-top: 50px;
    margin-left: 200px;
}
.destinations-section {
    background-color: rgb(231, 241, 246);
}
.destination-img {
    height: auto;
    width: 700px;
    margin-left: 250px;
    border-radius: 25px;
}
.destinations-list {
    display: flex;
}
/* Destination Page */

.destination-table {
    background-color: rgb(222, 242, 239);
}
table {
    border-collapse: collapse;
    width: 80%;
    margin-left: 100px;
}

th,
td {
    border: 1px solid rgb(200, 190, 194);
    text-align: center;
}
th {
    background-color: #d5c5ac;
}

/* Contact */
.information {
    display: flex;
    gap: 70px;
}
.contact-us {
    font-size: 30px;
    color: rgb(84, 92, 99);
}
#emailInput {
    margin-top: 25px;
}
#phoneNumberInput {
    margin-top: 25px;
}
.form-section {
    text-align: center;
    width: 650px;
    height: 550px;
    border-radius: 15px;
    margin-left: 330px;
    background-color: #d5c5ac;
}
h5 {
    color: rgb(116, 101, 101);
    font-size: 30px;
    text-align: center;
}
dl {
    color: rgb(95, 102, 108);
}
.question-section {
    text-align: center;
    margin-left: 50px;
    padding-bottom: 10px;
    width: 1200px;
    background-color: rgb(222, 235, 233);
    border-radius: 15px;
}
.contact-header {
    max-width: 1440px;
    height: 1250px;
    background-color: rgb(222, 235, 233);
}
/* Footer */
.contact-footer {
    background-color: rgb(236, 225, 225);
    max-width: 1440px;
}
.contact-footer-logo {
    display: flex;
}
.small-plane {
    width: 50px;
    height: 50px;
    margin-top: 35px;
    margin-left: 10px;
    margin-right: 10px;
}
.footer-logo {
    font-size: 30px;
    color: rgb(147, 157, 165);
}
h6 {
    color: gray;
    text-align: center;
    font-size: 25px;
}
.social-icons {
    margin-left: 550px;
    margin-bottom: 15px;
}
.social-icon {
    border-radius: 25px;
}
